#dice-game .btn {
    width: 200px;
}

.dice {
    width: 200px;
    height: 200px;
    margin: 1rem auto;
    position: relative;
    display: none;
}

.col.player .dice::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 12px;
    background-color: rgba(255, 0, 0, .4)
}

.col.cpu .dice::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 12px;
    background-color: rgba(0, 0, 255, .4);
}

.dice[class$="1"] {
    background-image: url(../img/dice-six-faces-one.svg);
}

.dice[class$="2"] {
    background-image: url(../img/dice-six-faces-two.svg);
}

.dice[class$="3"] {
    background-image: url(../img/dice-six-faces-three.svg);
}

.dice[class$="4"] {
    background-image: url(../img/dice-six-faces-four.svg);
}

.dice[class$="5"] {
    background-image: url(../img/dice-six-faces-five.svg);
}

.dice[class$="6"] {
    background-image: url(../img/dice-six-faces-six.svg);
}